@import "compass";
@import "breakpoint";
@import "singularitygs";


@import "../../variables/**/*";


body {
  overflow-x: hidden;
}

.container {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}

.l-main {
	background: $white;
	padding-bottom: 5em;
}

.title-bar {
	padding: 2em 0;

	.mpub-print-link {
		float: right;
		font-size: 0.571em;
		margin-top: 7px;

	    a {
	    	background: $link-colour;
		    text-transform: uppercase;
		    padding: 0.5em 1.75em;
	    	color: $white;
	    }

		.fa {
			margin-left: -10px;
			color: $white;
		}
	}
}

.title {
	position: relative;
	padding-left: 2em;

	& > .fa {
		color: darken($gray-light, 12%);
		//margin-right: 1em;
		position: absolute;
		top: 5px;
		left: 0;
	}
}

.title-bar .title {
	//margin: 0 auto;
  	//width: 90%;
  	//max-width: $desk-large;
}

.l-content .resp-2col,
.l-content .node {
  //margin-left: $left-gutter;
}

.l-footer {
	background: url(../../../images/footer-bg.png) repeat $heading-background;
	color: $gray-light;
	padding: 2em 0;
	font-size: 0.913em;

	.pane-title {
		color: $white;
		font-weight: 500;
		margin-bottom: 1.5em;
	}

	a {
		text-decoration: none;
		color: $gray-light;

		&:hover,
		&:focus {
			color: $white;
		}
	}

	ul, .menu {
		list-style: none;
		padding: 0;
	}

	.leaf {
		list-style: none;
	}

	.panel-3col-33 {
		.inside {
			margin: 0 1.65em 1em;
		}
	}

	.panel-col-first {
		.inside {
			margin-left: 0;
		}
	}

	.panel-col-last {
		.inside {
			margin-right: 0;
		}
	}
}

.r-footer-content {
	border-bottom: 2px solid lighten($black, 6%);
	padding-bottom: 1.25em;
	margin-bottom: 1.5em;

	li {
		border-bottom: 1px solid lighten($black, 6%);
		padding-bottom: 5px;
		margin-bottom: 5px;

		&:last-child {
			border-bottom: 0;
		}
	}
}

.copyright-message {
	float: left;
}

.footer-menu {
	float: right;
}