.node-type-map-page {
	.l-content.container {
  	max-width: none;
  }
}

.map-sidebar-left {
	padding-right: 1.5em;
}

.map-sidebar-right {
	padding-left: 1.5em;
}

.map-layers {

	.group {
		.form-item {
			padding: 10px 1.2em;
			margin-bottom: 1px;

			label {
				display: inline-block;
				vertical-align: top;
			}
		}

		& > .form-item {
			//padding: 10px 1.2em;
			background: $link-colour;

			.fa, label {
				color: $white;
			}

			.option {
				.fa-square-o ,
				.fa-check-square-o {
					margin-right: 5px;
				}
			}
		}
	}

	

	.layers-container {
		border-bottom: 1px solid $gray-light;
		background: $gray-light;

		.form-item {
			background: $white;
			display: inline-block;
			vertical-align: middle;
			width: 76.5%;
		}

		.fa {
			//color: $heading-background;
		}

		strong {
			color: $link-colour;
			font-weight: normal;
		}

		& > a {
			display: inline-block;
			padding: 10px 5px;
			width: 10%;
			text-align: center;
		}

		.option {
			position: relative;
			padding-left: 1.5em;

			.fa {
				position: absolute;
				left: 0;
				top: 5px;
			}
		}		
	}
}

.map-info-sidebar {
	.map-sidebar-heading {
		padding-left: 2.5em;
		position: relative;

		.fa {
			position: absolute;
			left: 1em;
		}
	}
}
