.page-projects .l-content {
 width: 100%;
 max-width: none;
}

.page-projects .openlayers-views-map {
 max-width: 70%;
 margin: 0 auto;
}

.page-projects .view-filters {
 background: #22c8d4;
 padding: 1.768em 0;
}
.page-projects .view-content{
 margin: 20px auto;
 max-width: 960px;
}

.page-projects .attachment-before .view-content{
 margin: 20px auto;
 max-width: none;
}

.page-projects .views-exposed-form {
 width: 90%;
 max-width: 960px;
 margin: 20px auto;

  #edit-combine-wrapper {
    width: 100%;
  }

  #edit-keys-wrapper {
    width: 50%;
  }

  .views-widget-filter-secondary {
    padding-top: 1em;
    display: block;
    width: 100%;

    .form-item-field-keywords-value, .form-item-field-sdg-goal-value,
    .form-item-field-agency-name-value, .form-item-field-location-tid {
      width: 47%;
      float: left;
      margin-right: 5px;
    }

  }

  .views-submit-button {

    @include breakpoint($tab) {
      width: 21.45%;
      padding-right: 0;
      margin-top: 1.6em;
    }

    .form-submit {
      width: 100%;
      margin-top: 10px;

      @include breakpoint($tab) {
        margin-top: 0.5em;
      }
    }
  }
}

.page-projects td {
background: #ebebeb;
padding: 0.5em 1em;
border: 1px solid white;
}



@include breakpoint($tab, true) {
  .page-projects .openlayers-views-map {
   max-width: 90%;
   margin: 0 auto;
  }
}
