input[type="text"],
input[type="email"],
input[type="password"],
select {
	padding: 1em 1.25em;
	border: 1px solid $white;
	background: $white;
	width: 100%;
}

select {
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    @include border-radius(0);
}

.form-type-select {
	position: relative;

	&:before {
		content: '';
		background: url(../images/icon-chevron-down.png) no-repeat;
		width: 13px;
		height: 8px;
		position: absolute;
		right: 1em;
		top: 50%;
		margin-top: -4px;
		/* content: "\f078";
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    transform: translate(0, 0); */
	}
}

input[type="submit"] {
	background: $heading-background;
	padding: 1em 1.25em;
	border: 1px solid $heading-background;
	text-transform: uppercase;
	color: $gray;
}