/**
 * $FONT-FACE
 */
//@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
//@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
//@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
body, .ui-widget-content {
  font-family: $primary-font;
  color: $text-colour;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
	color: $link-colour;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.2;
}

.ui-widget-content {

	.pane-title {
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
	}
}
