body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.l-main {
  background: white;
  padding-bottom: 5em;
}

.title-bar {
  padding: 2em 0;
}
.title-bar .mpub-print-link {
  float: right;
  font-size: 0.571em;
  margin-top: 7px;
}
.title-bar .mpub-print-link a {
  background: #22c8d4;
  text-transform: uppercase;
  padding: 0.5em 1.75em;
  color: white;
}
.title-bar .mpub-print-link .fa {
  margin-left: -10px;
  color: white;
}

.title {
  position: relative;
  padding-left: 2em;
}
.title > .fa {
  color: #cccccc;
  position: absolute;
  top: 5px;
  left: 0;
}

.l-footer {
  background: url(../../../images/footer-bg.png) repeat #2c2c2c;
  color: #ebebeb;
  padding: 2em 0;
  font-size: 0.913em;
}
.l-footer .pane-title {
  color: white;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.l-footer a {
  text-decoration: none;
  color: #ebebeb;
}
.l-footer a:hover, .l-footer a:focus {
  color: white;
}
.l-footer ul, .l-footer .menu {
  list-style: none;
  padding: 0;
}
.l-footer .leaf {
  list-style: none;
}
.l-footer .panel-3col-33 .inside {
  margin: 0 1.65em 1em;
}
.l-footer .panel-col-first .inside {
  margin-left: 0;
}
.l-footer .panel-col-last .inside {
  margin-right: 0;
}

.r-footer-content {
  border-bottom: 2px solid #0f0f0f;
  padding-bottom: 1.25em;
  margin-bottom: 1.5em;
}
.r-footer-content li {
  border-bottom: 1px solid #0f0f0f;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.r-footer-content li:last-child {
  border-bottom: 0;
}

.copyright-message {
  float: left;
}

.footer-menu {
  float: right;
}
