$top-background: #333;
$top-colour: #EEE;

$heading-background: #2c2c2c;
$heading-colour: #535353;

$text-background: #FEFEFE;
$text-colour: #000;

$menu-background: #454545;
$menu-link-colour: #b6b6b6;

$content-background: #f8f8f8;

$white: #fff;
$black: #000;
$gray: #9b9b9b;
$gray-light: #ebebeb;

$link-colour: #22c8d4;