// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

//$tab: 44em;
//$desk: 70em;

//$tab: 600px;
$tab: 768px;
$desk: 960px;
$desk-large: 1100px;


$grids: 3;
$grids: add-grid(6 at $tab);
//$grids: add-grid(12 at $tab-lan);
$grids: add-grid(12 at $desk);
$grids: add-grid(16 at $desk-large);

$gutters: 20;


//$gutters: add-gutter(1/4 at $desk);

//$grids: 4;
//$grids: add-grid(12 at $tab);

//$gutters: 1/3;