/*******************************************************************************
 * resp-2col.layout.scss
 *
 * Styling of the "resp-2col" layout demonstrating the resp-2col rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
.panel-display--resp-2col {
  *zoom: 1;
}
.panel-display--resp-2col:after {
  content: "";
  display: table;
  clear: both;
}

.resp-2col-region {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .resp-2col-region--first {
    width: 66%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  .resp-2col-region--second {
    width: 32%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
