@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php');
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php');
}

img, video {
  max-width: 100%;
  height: auto;
}

.item-list a:before,
.l-footer .menu a:before, .banner-content .field--name-field-link a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

html, body {
  background-color: #fefefe;
}

.l-header {
  background-color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 1em 1.25em;
  border: 1px solid white;
  background: white;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.form-type-select {
  position: relative;
}
.form-type-select:before {
  content: '';
  background: url(../images/icon-chevron-down.png) no-repeat;
  width: 13px;
  height: 8px;
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -4px;
  	/* content: "\f078";
  	display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0); */
}

input[type="submit"] {
  background: #2c2c2c;
  padding: 1em 1.25em;
  border: 1px solid #2c2c2c;
  text-transform: uppercase;
  color: #9b9b9b;
}

.item-list a,
.l-footer .menu a {
  display: block;
  position: relative;
  margin-right: 1em;
  padding-right: 1em;
}
.item-list a:before,
.l-footer .menu a:before {
  content: '\f054';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  font-size: 0.714em;
}

img, media {
  max-width: 100%;
}

/**
 * $FONT-FACE
 */
/**
 * $BASE-TYPOGRAPHY
 */
body, .ui-widget-content {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #22c8d4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
}

.ui-widget-content .pane-title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

/**
 * $BREADCRUMB
 */
.breadcrumb-row {
  background: #ebebeb;
  padding: 0.5em 0;
  font-size: 0.857em;
  color: #8d8d8d;
  font-weight: 500;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.breadcrumb:before, .breadcrumb:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.breadcrumb:after {
  clear: both;
}
.breadcrumb li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
}
.breadcrumb li:after {
  content: "›";
  padding: 0 1em;
  vertical-align: baseline;
}
.breadcrumb li:last-child:after {
  content: "";
}
.breadcrumb a {
  text-decoration: none;
  color: #8d8d8d;
}

.l-header {
  color: #535353;
}
@media (min-width: 768px) {
  .l-header .site-logo {
    margin-right: 1em;
  }
}
.l-header img {
  max-height: 60px;
  display: block;
}
.l-header a, .l-header a.active {
  text-decoration: none;
}
.l-header .messages {
  margin: 0;
}
.l-header .title-bar.has-tabs {
  padding-right: 50px;
}
.l-header .title-bar .title {
  color: white;
  line-height: normal;
}
.l-header .title-bar a {
  float: right;
  font-size: 0.65em;
  line-height: 1;
  margin: 0.5em 0 0 0.5em;
}
.l-header .title-bar .tabs {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: none;
  height: 100%;
}
.l-header .title-bar .tabs li {
  height: 100%;
  margin: 0;
}
.l-header .title-bar .tabs li a {
  height: 100%;
  background: none;
  color: #535353;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0.67em 0;
  padding-right: 14px;
}
@media (min-width: 768px) {
  .l-header h1 {
    margin: 0;
  }
}

.branding {
  padding-top: 25px;
  padding-bottom: 1.5em;
}
@media (min-width: 768px) {
  .branding {
    width: 40%;
    float: left;
    padding-bottom: 0;
  }
}
.branding a {
  color: white;
}

.site-logo {
  float: left;
}

.site-logo, .site-name {
  display: inline-block;
  vertical-align: middle;
}

.site-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
}

.site-slogan {
  font-weight: 100;
  font-size: 1em;
  color: white;
}

.front .l-main {
  background: url(../images/home_bg.png) no-repeat center bottom #f8f8f8;
  background-size: 100% auto;
}

.mpub-home {
  padding-top: 3.571em;
}

.banner-image {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2.143em;
}
.banner-image > img {
  display: block;
  width: 100%;
}

.banner-content {
  color: white;
  padding: 1.25em 2em;
  background-color: #2c2c2c;
}
@media (min-width: 768px) {
  .banner-content {
    position: absolute;
    top: 0;
    right: 20px;
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 100%;
    padding-top: 2em;
  }
}
.banner-content h2 {
  font-size: 1.75em;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
}
.banner-content .field--name-field-link {
  padding: 1.5em 0;
}
@media (min-width: 768px) {
  .banner-content .field--name-field-link {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 82%;
  }
}
.banner-content .field--name-field-link a {
  background: #22c8d4;
  color: white;
  text-transform: uppercase;
  padding: 1em 3em 1em 2em;
  position: relative;
}
@media (min-width: 768px) {
  .banner-content .field--name-field-link a {
    display: block;
    width: 100%;
  }
}
.banner-content .field--name-field-link a:before {
  content: '\f054';
  position: absolute;
  right: 1.5em;
  top: 50%;
  margin-top: -5px;
  font-size: 0.857em;
}

.mpub-home-region--featured-content {
  overflow: hidden;
  margin-bottom: 2.143em;
}

.panel-pane .featured-link {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: 0 2% 2% 0;
  float: left;
}
@media (min-width: 768px) {
  .panel-pane .featured-link {
    width: 23%;
    margin-bottom: 0;
  }
}

.featured-link {
  position: relative;
}
.featured-link > img {
  display: block;
  width: 100%;
}
.featured-link .field--name-field-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.featured-link a {
  display: block;
  width: 100%;
  background: #22c8d4;
  color: white;
  padding: 0.5em 1em;
  font-weight: 700;
  line-height: 1;
}

.mpub-home-region--maps-overview,
.mpub-home-region--projects-overview {
  overflow: hidden;
}
@media (min-width: 768px) {
  .mpub-home-region--maps-overview .panel-pane,
  .mpub-home-region--projects-overview .panel-pane {
    width: 31.33%;
    float: left;
    margin-right: 2.5%;
  }
}
.mpub-home-region--maps-overview .panel-pane:last-child,
.mpub-home-region--projects-overview .panel-pane:last-child {
  margin-right: 0;
  float: right;
}
.mpub-home-region--maps-overview ul,
.mpub-home-region--projects-overview ul {
  list-style: none;
  padding: 0;
}
.mpub-home-region--maps-overview li,
.mpub-home-region--projects-overview li {
  border-bottom: 2px solid #f6f6f6;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.mpub-home-region--maps-overview li:last-child,
.mpub-home-region--projects-overview li:last-child {
  border-bottom: 0;
}

.l-footer .panel-3col-33 .panel-col-first, .l-footer .panel-3col-33 .panel-col, .l-footer .panel-3col-33 .panel-col-last {
  width: auto;
  float: none;
}
.l-footer .panel-3col-33 .panel-col-first .inside, .l-footer .panel-3col-33 .panel-col .inside, .l-footer .panel-3col-33 .panel-col-last .inside {
  margin-left: 0;
}
@media (min-width: 768px) {
  .l-footer .panel-3col-33 .panel-col-first, .l-footer .panel-3col-33 .panel-col, .l-footer .panel-3col-33 .panel-col-last {
    width: 33.33%;
    float: left;
  }
  .l-footer .panel-3col-33 .panel-col-first .inside, .l-footer .panel-3col-33 .panel-col .inside, .l-footer .panel-3col-33 .panel-col-last .inside {
    margin-left: 1em;
  }
}

.node-type-map-page .l-content.container {
  max-width: none;
}

.map-sidebar-left {
  padding-right: 1.5em;
}

.map-sidebar-right {
  padding-left: 1.5em;
}

.map-layers .group .form-item {
  padding: 10px 1.2em;
  margin-bottom: 1px;
}
.map-layers .group .form-item label {
  display: inline-block;
  vertical-align: top;
}
.map-layers .group > .form-item {
  background: #22c8d4;
}
.map-layers .group > .form-item .fa, .map-layers .group > .form-item label {
  color: white;
}
.map-layers .group > .form-item .option .fa-square-o,
.map-layers .group > .form-item .option .fa-check-square-o {
  margin-right: 5px;
}
.map-layers .layers-container {
  border-bottom: 1px solid #ebebeb;
  background: #ebebeb;
}
.map-layers .layers-container .form-item {
  background: white;
  display: inline-block;
  vertical-align: middle;
  width: 76.5%;
}
.map-layers .layers-container strong {
  color: #22c8d4;
  font-weight: normal;
}
.map-layers .layers-container > a {
  display: inline-block;
  padding: 10px 5px;
  width: 10%;
  text-align: center;
}
.map-layers .layers-container .option {
  position: relative;
  padding-left: 1.5em;
}
.map-layers .layers-container .option .fa {
  position: absolute;
  left: 0;
  top: 5px;
}

.map-info-sidebar .map-sidebar-heading {
  padding-left: 2.5em;
  position: relative;
}
.map-info-sidebar .map-sidebar-heading .fa {
  position: absolute;
  left: 1em;
}

.page-maps .l-content.container {
  width: 100%;
  max-width: none;
}
.page-maps .l-content .view-content,
.page-maps .l-content .views-exposed-form {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.page-maps .view-maps-overview .view-filters {
  background: #22c8d4;
  padding: 1.768em 0;
}
.page-maps .view-maps-overview .views-row {
  overflow: hidden;
}
.page-maps .view-maps-overview .views-column {
  border: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-top: 3.571em;
}
@media (min-width: 768px) {
  .page-maps .view-maps-overview .views-column {
    width: 30.83%;
    float: left;
    position: relative;
    margin: 3.571em 1.875% 0;
    padding-bottom: 4em;
    height: 100%;
  }
  .page-maps .view-maps-overview .views-column.views-column-first {
    margin-left: 0;
    margin-right: 1.875%;
  }
  .page-maps .view-maps-overview .views-column.views-column-last {
    margin-right: 0;
    margin-left: 1.875%;
  }
}
.page-maps .view-maps-overview .views-column .views-field-field-preview-image {
  background: #2c2c2c;
}
.page-maps .view-maps-overview .views-column .views-field-field-preview-image img {
  width: auto;
  max-height: 140px;
  display: block;
  margin: 0 auto;
}
.page-maps .view-maps-overview .views-column .views-field-title {
  padding: 1.143em;
  font-weight: 700;
}
.page-maps .view-maps-overview .views-column .views-field-field-map-description {
  padding: 0 1.143em 1.143em;
}
@media (min-width: 768px) {
  .page-maps .view-maps-overview .views-column .views-field-nothing {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%;
  }
}
.page-maps .view-maps-overview .views-column .views-field-field-layers,
.page-maps .view-maps-overview .views-column .views-field-created,
.page-maps .view-maps-overview .views-column .views-field-view-node {
  text-align: center;
  float: left;
  width: 33.33%;
}
.page-maps .view-maps-overview .views-column .views-field-field-layers,
.page-maps .view-maps-overview .views-column .views-field-created {
  background: #ebebeb;
  padding: 0.5em 1em;
}
.page-maps .view-maps-overview .views-column .views-field-field-layers {
  width: 23.33%;
}
.page-maps .view-maps-overview .views-column .views-field-field-layers .fa {
  margin-right: 10px;
}
.page-maps .view-maps-overview .views-column .views-field-created {
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 43.33%;
}
.page-maps .view-maps-overview .views-column .views-field-view-node a {
  display: block;
  background: #22c8d4;
  text-transform: uppercase;
  padding: 0.5em;
  color: white;
}

.views-exposed-form label {
  display: block;
  font-weight: 500;
  padding-bottom: 5px;
}
.views-exposed-form .views-exposed-widget {
  padding: 0 1em 0 0;
  float: none;
  display: inline-block;
  vertical-align: bottom;
}
.views-exposed-form .views-widget-filter-combine {
  width: 58%;
}
@media (min-width: 768px) {
  .views-exposed-form .views-widget-filter-combine {
    width: 60%;
  }
}
.views-exposed-form .views-widget-filter-field_map_category_tid {
  width: 40%;
}
@media (min-width: 768px) {
  .views-exposed-form .views-widget-filter-field_map_category_tid {
    width: 16.66%;
  }
}
@media (min-width: 768px) {
  .views-exposed-form .views-submit-button {
    width: 21.45%;
    padding-right: 0;
    margin-top: 1.6em;
  }
}
.views-exposed-form .views-submit-button .form-submit {
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .views-exposed-form .views-submit-button .form-submit {
    margin-top: 1.6em;
  }
}

.view-maps-overview .form-submit {
  background: url(../images/icon-search.png) no-repeat 1.2em center #2c2c2c;
  padding-left: 50px;
}

/* Map layout containers ---------------------------------------------------- */
.map-layout .layers-container {
  margin-bottom: 1em;
}
.map-layout .expcol-link {
  display: inline-block;
}
.map-layout .expcol-link .collapse {
  display: inherit;
}
.map-layout .expcol-link .expand {
  display: none;
}
.map-layout .expcol-link.collapsed .collapse {
  display: none;
}
.map-layout .expcol-link.collapsed .expand {
  display: inherit;
}
.map-layout .form-type-checkbox i,
.map-layout .layers-container i {
  font-size: 30px;
  width: 1.05em;
}
@media (min-width: 768px) {
  .map-layout .form-type-checkbox i,
  .map-layout .layers-container i {
    font-size: 14px;
  }
}
.map-layout .form-type-checkbox {
  display: block;
  /* to hide the checkbox itself */
}
.map-layout .form-type-checkbox input {
  display: none;
}
.map-layout .form-type-checkbox label .checked {
  display: none;
}
.map-layout .form-type-checkbox label .unchecked {
  display: inline-block;
}
.map-layout .form-type-checkbox input:checked ~ label .checked {
  display: inline-block;
}
.map-layout .form-type-checkbox input:checked ~ label .unchecked {
  display: none;
}

.map-layout tr .form-item {
  white-space: normal;
}

.map-layout * {
  box-sizing: border-box;
}

.map-layout {
  width: 100%;
  display: table;
  overflow-y: hidden;
}

.map-container {
  width: 100%;
  position: relative;
  background-color: #2c2c2c;
}

.map-sidebar {
  position: relative;
  z-index: 100;
  vertical-align: top;
}
.map-sidebar .mpub-print-link a {
  display: none;
}
.map-sidebar .map-sidebar-heading {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.map-sidebar h2.title {
  color: white;
  margin: 0;
  padding: 1em;
}
.map-sidebar .map-sidebar-content {
  overflow-y: auto;
  padding-top: 1.5em;
  width: 288px;
}
.map-sidebar.map-info-sidebar .map-metadata {
  padding-top: 0;
}

.collapsed-left .map-layers-sidebar,
.map-layers-sidebar {
  display: none;
}

.open-left .map-layers-sidebar {
  display: inherit;
}

@media (min-width: 768px) {
  .map-layers-sidebar {
    display: inherit;
  }
}
td.toggle-right {
  display: none;
}
@media (min-width: 768px) {
  td.toggle-right {
    display: table-cell;
  }
}

.open-right .map-info-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  padding: 5%;
}
.open-right .map-info-sidebar .fa-close {
  color: black;
}
.open-right .map-info-sidebar a.layer-info-modal-close {
  float: left;
  color: #FFF;
  font-size: 2.5em;
  padding: 0.3em;
}
.open-right .map-info-sidebar .map-sidebar-content {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .open-right .map-info-sidebar {
    position: relative;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    background-image: none;
    padding: 0;
  }
  .open-right .map-info-sidebar a.layer-info-modal-close {
    display: none;
  }
  .open-right .map-info-sidebar .map-sidebar-content {
    width: 288px;
  }
}

.collapsed-right .map-info-sidebar {
  display: none;
}

.map-sidebar .group {
  margin-bottom: 1.5em;
}

.map-sidebar .group label {
  cursor: pointer;
}

.map-print-version {
  position: absolute;
  font-size: 0.75em;
  top: -20px;
  right: 10px;
}

.map-loading-indicator {
  display: none;
  overflow: hidden;
}
.map-loading-indicator.loading {
  display: block;
  background-image: url("../images/trans.png");
  width: 100%;
  color: #535353;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.open-left .map-loading-indicator.loading {
  display: none;
}
@media (min-width: 768px) {
  .open-left .map-loading-indicator.loading {
    display: block;
  }
}

/* Map toggle controls ------------------------------------------------------ */
.map-layout .toggle {
  font-size: 2em;
  padding: 4px;
  background: #2c2c2c;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  z-index: 100;
  color: #fff;
}

.layers-container,
.expcol-wrapper,
.expcol-wrapper .layers-container {
  display: none;
}

.expcol-link {
  font-family: monospace;
  font-weight: bolder;
}

.map-sidebar .group {
  margin-left: 14px;
}
.map-sidebar .expcol-depth-0.group {
  display: block;
  margin-left: 0;
}

.map-description {
  margin-bottom: 20px;
  display: block;
}

@media (min-width: 768px) {
  .responsive-menus {
    text-align: right;
    width: 60%;
    float: right;
  }
}
.responsive-menus .nice-menu {
  text-transform: uppercase;
  float: none;
  border: 0;
}
.responsive-menus .nice-menu li {
  background: transparent;
  border: 0;
  float: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 3em;
}
.responsive-menus .nice-menu a {
  color: #b6b6b6;
  line-height: 1;
}
@media (min-width: 768px) {
  .responsive-menus .nice-menu a {
    line-height: 100px;
  }
}
.responsive-menus .nice-menu a:hover, .responsive-menus .nice-menu a.active {
  color: white;
}
.responsive-menus .nice-menu .active {
  position: relative;
}
@media (min-width: 768px) {
  .responsive-menus .nice-menu .active:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 16px solid #ebebeb;
  }
}

.front .nice-menu .active:before {
  border-bottom-color: #f8f8f8;
}

.responsive-menus.responsified span.toggler,
.responsive-menus.responsified .responsive-menus-simple,
.responsive-menus.responsified.responsive-toggled span.toggler,
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple {
  background-color: #454545;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.responsive-menus.responsified.responsive-toggled .responsive-menus-simple li a,
.responsive-menus.responsified.responsive-toggled span.toggler {
  border-color: #252525;
}
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple li a:hover {
  background-color: #626262;
}

.responsive-menus.responsified span.toggler {
  padding: 0.5em 0;
}

/* ipe wasn't playing nicely with jquery tabs */
.panels-ipe-editing .panels-ipe-region {
  float: none;
}

.page-projects .l-content {
  width: 100%;
  max-width: none;
}

.page-projects .openlayers-views-map {
  max-width: 70%;
  margin: 0 auto;
}

.page-projects .view-filters {
  background: #22c8d4;
  padding: 1.768em 0;
}

.page-projects .view-content {
  margin: 20px auto;
  max-width: 960px;
}

.page-projects .attachment-before .view-content {
  margin: 20px auto;
  max-width: none;
}

.page-projects .views-exposed-form {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
}
.page-projects .views-exposed-form #edit-combine-wrapper {
  width: 100%;
}
.page-projects .views-exposed-form #edit-keys-wrapper {
  width: 50%;
}
.page-projects .views-exposed-form .views-widget-filter-secondary {
  padding-top: 1em;
  display: block;
  width: 100%;
}
.page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-keywords-value, .page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-sdg-goal-value,
.page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-agency-name-value, .page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-location-tid {
  width: 47%;
  float: left;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .page-projects .views-exposed-form .views-submit-button {
    width: 21.45%;
    padding-right: 0;
    margin-top: 1.6em;
  }
}
.page-projects .views-exposed-form .views-submit-button .form-submit {
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .page-projects .views-exposed-form .views-submit-button .form-submit {
    margin-top: 0.5em;
  }
}

.page-projects td {
  background: #ebebeb;
  padding: 0.5em 1em;
  border: 1px solid white;
}

@media (min-width: 768px) {
  .page-projects .openlayers-views-map {
    max-width: 90%;
    margin: 0 auto;
  }
}
.large-only {
  display: none;
}

.small-only {
  display: table;
}
.small-only th {
  font-weight: normal;
  background-color: #f5f5f5;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .large-only {
    display: table;
  }

  .stacktable.small-only {
    display: none;
  }
}
.ui-widget-content,
.ui-widget-header {
  border: 0;
  background: white;
}

.ui-widget-content {
  padding: 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.ui-widget-content a {
  color: #22c8d4;
}

#tabs {
  background: #ebebeb;
  padding: 5px;
}
#tabs a {
  margin-right: 5px;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}
.ui-tabs .ui-tabs-nav li {
  border: 0;
  margin: 0;
  width: 33.33%;
  background: #f8f8f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 768px) {
  .ui-tabs .ui-tabs-nav li {
    font-size: 1.286em;
    text-align: left;
  }
}
.ui-tabs .ui-tabs-nav li a {
  display: block;
  float: none;
  padding: 1em;
  color: #22c8d4;
}
@media (min-width: 768px) {
  .ui-tabs .ui-tabs-nav li a {
    padding-right: 1.556em;
    padding-left: 4em;
  }
}
.ui-tabs .ui-tabs-nav li .fa {
  font-size: 1.65em;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .ui-tabs .ui-tabs-nav li .fa {
    position: absolute;
    left: 1em;
    top: 50%;
    margin-top: -15px;
  }
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: #404040;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected .fa {
  color: #d7d7d7;
}
.ui-tabs .ui-tabs-panel {
  padding: 2em;
}
