@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}


.views-exposed-form-projects-page-1 fieldset {
    border: 1px solid #2c2c2c;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.views-exposed-form-projects-page-1 .fieldset-title {
	color:#2c2c2c;
}
